$brand-white: #ffffff;
$brand-black: #212121;

$brand-danger: #e03737;
$brand-primary: #127ce6;

$brand-grey: #f3f3f3;
$brand-grey-second: #d1d1d1;
$brand-grey-third: #f2f4f5;

$brand-brown: #616161;
$brand-brown-second: #969696;
$brand-brown-third: #b8b8b8;

// Screen Size
$mobile-width: 375px;
$tablet-width: 960px;
$desktop-width: 1280px;
$large-desktop-width: 1440px;
$max-desktop-width: 1920px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;