@use '../../styles/abstract' as var;

.welcome {
    position: relative;

    width: 100%;
    margin-top: -111px;
    
    background-image: url('/welcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -150px;

    z-index: 2;

    &::before {
        content: '';

        position: absolute;
        left: 0;
        top: 0;

        display: block;
        width: 100%;
        height: 100%;

        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 60px,
            rgba(255, 255, 255, 0) 70%,
            rgba(0, 0, 0, 1) 100%
        );

        z-index: 2;
    }
}

.welcomeContainer {
    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}

.welcomeFeedback {
    position: relative;

    margin: 0 auto;
    padding-top: 400px;

    background-image: linear-gradient(transparent 0% 18%, var.$brand-black 48% 100%);
    z-index: 3;
}

.welcomeFeedbackContainer {
    padding-top: 15px;
    padding-bottom: 40px;

    background-color: rgba(var.$brand-white, 0.1);
}

.welcomeForm {
    max-width: var.$mobile-width;
    margin: 0 auto;
    padding: 0 15px;
}

.welcomeTitle {
    position: relative;

    margin-bottom: 15px;

    font-size: 20px;
    text-transform: uppercase;
    color: var.$brand-white;
    text-align: center;

    z-index: 2;
}

.welcomeSubTitle {
    margin-top: 0;
    margin-bottom: 15px;

    text-align: center;
    color: var.$brand-white;
}

.welcomeFirstFormList {
    @extend %list-reset;
}

.welcomeFirstFormItem {
    position: relative;

    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 0;
    }
}

.welcomeFirstFormItem:nth-child(1) {

    &::before {
        content: '';

        position: absolute;
        bottom: 0;
        right: 50%;

        display: block;
        width: 60px;
        height: 1px;

        border-bottom: 2px dotted var.$brand-primary;
        transform: rotate(90deg) translate(30px, -30px);

        z-index: 0;
    }

    &::after {
        content: '';

        position: absolute;
        bottom: -6px;
        right: 50%;

        height: 12px;
        width: 12px;

        margin-right: -6px;

        background-color: var.$brand-primary;
        border-radius: 50%;

        z-index: 1;
    }
}

.welcomeFirstFormItem:nth-child(2) {

    &::before {
        content: '';

        position: absolute;
        top: -6px;
        left: 50%;

        height: 12px;
        width: 12px;

        margin-left: -6px;

        background-color: var.$brand-primary;
        border-radius: 50%;

        z-index: 1;
    }

    &::after {
        content: '';

        position: absolute;
        left: 50%;
        top: -39px;

        display: block;
        width: 66px;
        height: 20px;
        margin-left: -31px;

        background-image: url('/ico-truck.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        z-index: 2;
    }
}

.welcomeSecondFormList {
    @extend %list-reset;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.welcomeSecondFormItem:nth-child(1),
.welcomeSecondFormItem:nth-child(4) {
    width: 100%;
}

.welcomeSecondFormItem:nth-child(2),
.welcomeSecondFormItem:nth-child(3) {
    width: calc((100% - 10px) / 2);
}

.welcomeSecondFormItem:nth-child(4) {
    margin-top: 10px;
}

.welcomeFormButton {
    margin-top: 20px;
}

.welcomeFormCheckbox {
    margin: 0 auto;
}

@include var.tablet-size {

    .welcome {
        display: flex;
        height: 620px;

        &::before {
            background: linear-gradient(
                to bottom,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0.6) 13%,
                rgba(255, 255, 255, 0) 70%,
                rgba(0, 0, 0, 1) 100%
            );
        }
    }

    .welcomeFeedback {
        margin-top: auto;
        margin-bottom: 25px;

        max-width: 920px;
        padding-top: 30px;
        padding-bottom: 25px;

        background-image: none;
        border-radius: 15px;

        backdrop-filter: blur(5px);
        background-color: rgba(var.$brand-white, 0.2);
    }

    .welcomeFeedbackContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 0;
        padding-bottom: 0;

        background-color: transparent;
    }

    .welcomeTitle {
        margin-bottom: 5px;

        font-size: 24px;
        
        br {
            display: none;
        }
    }

    .welcomeSubTitle {
        width: 100%;

        br {
            display: none;
        }
    }

    .welcomeFirstFormList, 
    .welcomeForm {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .welcomeForm {
        max-width: 100%;
        width: 100%;
    }

    .welcomeFirstFormList {
        width: calc(100% - 210px);
        justify-content: space-between;
    }

    .welcomeFirstFormItem {
        width: calc((100% - 120px) / 2);
        margin-bottom: 0;
    }

    .welcomeFirstFormItem:nth-child(1) {

        &::before {
            bottom: 50%;
            right: 0;
    
            display: block;
            width: 120px;
            height: 1px;
            margin-bottom: -0.5px;
    
            transform: rotate(0deg) translate(120px, 0);
        }
    
        &::after {
            bottom: 50%;
            right: 0;

            margin-left: 0;
            margin-bottom: -6px;
        }
    }

    .welcomeFirstFormItem:nth-child(2) {

        &::before {
            top: 50%;
            left: 0;

            margin-top: -6px;
        }
    
        &::after {
            left: -60px;
            top: 50%;

            margin-top: -10px;
        }
    }

    .welcomeFormButton {
        width: 200px;
        margin-top: 0;
        margin-left: 10px;
    }

    .welcomeSecondFormList {
        width: calc(100% - 150px);
        justify-content: space-between;
    }

    .welcomeSecondFormItem:nth-child(1),
    .welcomeSecondFormItem:nth-child(2),
    .welcomeSecondFormItem:nth-child(3),
    .welcomeSecondFormItem:nth-child(4) {
        width: calc((100% - 10px * 3) / 4);
        margin-top: 0;
    }
}

@include var.desktop-size {

    .welcome {
        height: 780px;

        &::before {

            background: linear-gradient(
                to bottom,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0) 30%,
                rgba(255, 255, 255, 0) 60%,
                rgba(0, 0, 0, 1) 100%
            );
        }
    }

    .welcomeFeedback {
        max-width: 1160px;
        margin-bottom: 60px;
    }

    .welcomeTitle {
        margin-bottom: 10px;

        font-size: 28px;
    }
}

@include var.max-desktop-size {

    .welcome {
        background-position: 50% -390px;
    }
}